body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background-color: #E5E5E5;
}

.app {
  max-width: 1200px;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.text-lead {
  color: #0D0D0D;
  font-size: 20px;
}

.text-common {
  color: #0D0D0D;
  font-size: 16px;
}

.text-grey {
  color: #999;
  font-size: 12px;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}